<% errors.forEach(function (message) { %>
    <div class="alert alert-danger text-center"><%= message %></div>
<% }) %>

<% success.forEach(function (message) { %>
    <div class="alert alert-success text-center"><%= message %></div>
<% }) %>