<%- include('includes/header') %>

  <div class="container py-md-5 container--narrow">

    <%- include('includes/flash') %>

    <%- include('includes/profileShared.ejs') %>
  
    <div class="list-group">
      <% followers.forEach(function(follower) { %>
        <a href="/profile/<%= follower.username %>" class="list-group-item list-group-item-action">
            <img class="avatar-tiny" src="<%= follower.avatar %>">
            <%= follower.username %>
        </a>
      <% }) %>
    </div>
  </div>
  
<%- include('includes/footer') %>